* {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.dashboard {
  display: grid;
  grid-template-columns: 300px 2fr 1fr;
  grid-template-rows: 0.5fr 3fr;
  grid-template-areas:
    "sd hd hd"
    "sd mn mn";
}

.header {
  grid-area: hd;
  background-color: white;
  padding-left: 40px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.sidebar {
  grid-area: sd;
  background-color: #009dff;
}

.main {
  grid-area: mn;
  display: grid;
  grid-template-areas:
    "pr an"
    "pr tr";
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

.projects {
  grid-area: pr;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.project-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-left: 8px solid #f0b429;
  display: flex;
  flex-direction: column;
}

.project-card h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.project-card p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  flex-grow: 1;
  margin: 0 0 10px 0;
}

.project-icons {
  align-self: flex-end;
  display: flex;
  gap: 15px;
}

.side-content {

  gap: 20px;
}

.announcements {
  grid-area: an;
}

.trending {
  grid-area: tr;
}

.announcements,
.trending {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.announce {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.announce:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.announce h4 {
  font-size: 14px;
  margin: 0 0 5px 0;
}

.announce p {
  color: #666;
  font-size: 10px;
  margin: 0;
}

.trend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.trend:last-child {
  margin-bottom: 0;
}

.trend-deets {
  margin-left: 10px;
}

.trend-deets h4 {
  font-size: 14px;
  margin: 0;
}

.trend-deets p {
  color: #666;
  font-size: 12px;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
  fill: white;
  color: white;
}

.logo svg {
  height: 40px;
}

.nav-main {
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px 0;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.nav-item svg {
  height: 20px;
  margin-right: 10px;
  fill: white;
}

.nav-item p {
  font-size: 14px;
  color: white;
  margin: 8px;
}

.searchbox svg {
  height: 20px;
  margin-right: 10px;
  fill: black;
}

.searchbox input {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 400px;
  border: none;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-panel {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.user-panel svg {
  height: 20px;
  margin-right: 15px;
  fill: black;
}

.user-panel .avatar-small {
  margin: 0 30px 0 10px;
}

.user-panel h4 {
  font-weight: bold;
}

.avatar-small {
  height: 35px;
}

.avatar-large {
  height: 60px;
  margin-right: 10px;
}

.greeting-container {
  display: flex;
  align-items: center;
}

.personal-greeting p:first-child {
  font-size: 12px;
  margin: 3px;
}

.personal-greeting h2 {
  font-size: 20px;
  margin: 3px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #009dff;
  color: white;
  font-size: 12px;
  padding: 8px;
  border-radius: 15px;
  width: 80px;
  border: none;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-areas:
      "hd"
      "sd"
      "mn";
  }

  .main {
    grid-template-columns: 1fr;
  }
}
